<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=z, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Users</title>
</head>
<body>
    <h1>Profiles</h1>
    {% csrf_token %}
    <ul>
        {% for profile in user %}
        <li>{{ profile.username }}</li>
        {% endfor %}
    </ul>
    <div class="col-6">
        <a class="btn btn-primary w-100 py-2" href="{% url 'logout' %}">Logout</a>
    </div>
</body>
</html>