<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=z, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Users</title>
</head>
<body>
    <h1>Profiles</h1>
    <ul>
        {% for profile in user %}
        <li>{{ profile.username }}</li>
        {% endfor %}
    </ul>
    <form action = "" method = "post">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</body>
</html>